<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hasee.second_handbooks">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MessageActivity"
            android:label="" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".UserActivity"
            android:label="个人中心" />
        <activity
            android:name=".MyneedsItemActivity"
            android:label="对方书籍" />
        <activity
            android:name=".AddMsgActivity"
            android:label="发布换书需求信息" />
        <activity
            android:name=".MsgActivity"
            android:label="申请信息" />
        <activity
            android:name=".Myneedsitem_itemActivity"
            android:label="详情" />
        <activity
            android:name=".register"
            android:label="注册" />
        <activity
            android:name=".forget_password"
            android:label="找回密码" />
        <activity
            android:name=".nav_item_activity.MycollectionActivity"
            android:label="我的收藏" />
        <activity
            android:name=".nav_item_activity.MycollectionitemActivity"
            android:label="详情" />
        <activity
            android:name=".ApplyExchangeActivity"
            android:label="申请交换" />
        <activity
            android:name=".MyApplyItemActicity"
            android:label="对方书籍" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyExchangeMessageActivity"
            android:label="我提供的书籍" />
        <activity
            android:name=".account_management"
            android:label="账号管理" />
        <activity android:name=".register_perfect_information" />
        <activity android:name=".change_number" />
        <activity android:name=".change_nickname" />
        <activity android:name=".change_sex" />
        <activity android:name=".nav_item_activity.RecordActivity" />
        <activity android:name=".nav_item_activity.FeedbackActivity" />
        <activity android:name=".nav_item_activity.SystemSetupActivity" />
        <activity android:name=".nav_item_activity.WeActivity" />
        <activity android:name=".change_phone" />
        <activity android:name=".change_password"></activity>
    </application>

</manifest>